* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Alice", sans-serif;
  line-height: 150%;
  color: #573A37;
}

body {
  background-image: url(./assets/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#page {
  box-sizing: border-box;

  width: 800px;
  border-radius: 24px;
  background-color: #F0E8C2;

  margin: 48px auto 28px;
  padding: 24px;
}

#page main img {
  border-radius: 16px;
}

#page main section {
  padding: 0px 24px;
  margin: 24px 0px;
}

section h1, h2 {
  font-weight: normal;
  color: #291B1A;
}

section h1 {
  margin-bottom: 4px;
  font-size: 40px;
  line-height: 140%;
}

section p, li, h2 {
  line-height: 150%;
}

section h2 {
  font-size: 24px;
}

section p, li{
  color: #573A37;
}

#about p + p {
  margin-top: 12px;
}

#ingredients ul ::marker {
  font-size: 12px;
}

#ingredients ul {
  margin-top: 4px;
  margin-left: 24px;
}

#preparation h2 + p {
  margin-top: 4px;
}

#preparation p + p {
  margin: 10px 0px;
}

footer {
  margin-bottom: 48px;
}

footer p {
  color: #F0E8C2;
  text-align: center;
}

footer p img {
  vertical-align: middle;
}
