:root {
  font-family: "Alice", sans-serif;
}

body {
  background-image: url(./assets/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#page {
  box-sizing: border-box;

  width: 800px;
  border-radius: 24px;
  background-color: #F0E8C2;

  margin: 48px auto 28px;
  padding: 24px;
}

#page main img {
  border-radius: 16px;
}

section h1, h2 {
  font-weight: normal;
  color: #291B1A;
}

section h1 {
  font-size: 40px;
  line-height: 140%;
}

section p, li, h2 {
  line-height: 150%;
}

section h2 {
  font-size: 24px;
}

section p, li{
  color: #573A37;
}

footer p {
  margin-bottom: 48px;

  color: #F0E8C2;
  text-align: center;
}
